#root {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.App {
  font-family: Arial, Helvetica, sans-serif;
  background-color: lightseagreen !important;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

.logo {
  position: absolute !important;
  top: 0;
}

.logo img {
  width: 300px;
}

.card {
  width: 50%;
  border-radius: 10px;
  background-color: lightseagreen !important;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  color: white;
  border: none !important;
  top: 100px;
}

/* .Menu button, .Quiz button, .EndScreen button{
  width: 300px;
  height: 50px;
  margin: 5px;
  border: none;
  border-radius: 5px;
  font-size: 20px;
  cursor: pointer;
} */

.prompt {
  width: 70%;
  margin-bottom: 1rem;
}
.prompt .card-title {
  color: rgb(255, 252, 251);
}
.options {
  width: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 1rem;
}

.actions {
  width: 70%;
  display: flex;
  margin: 10px 0 10px 0;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.results {
  width: 90%;
  margin-bottom: 1rem;
}
.list-group-item {
  background-color: none;
}

.progress {
  width: 90%;
  margin-bottom: 1rem;
}
.startBtn {
  margin-bottom: 1rem;
}
.btn-group {
  margin-bottom: 1rem;
}

@media screen and (max-width: 600px) {
  .logo img {
    height: 90%;
  }

  .card {
    width: 100% !important;
    top: 50px !important;
  }
}
